<nav class="navbar navbar-dark bg-dark ">
  <div class="navbar-expand m-auto navbar-text">
      <a class="nav-item nav-link" href="#">About Us</a>
    
  </div>
  <div class="navbar-expand m-auto navbar-text">
      Social Media
      <br>
      <div class="row">
          <div class="col">
              <a href="https://facebook.com"><i class="fa fa-facebook"></i></a> 
          </div>
          
          <div class="col">
                <a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
          </div>
          <div class="col">
                <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
          </div>
    </div>
  </div>
    <div class="navbar-expand m-auto navbar-text">
        Mobile App
        <br>
        <a href="https://playstore.com">Check out our Mobile Application!</a>
      </div>
</nav>