<div class="container">
    <div class="ev">
<div class="d-flex flex-row">

<div class="p-2">
<div class="d-flex flex-column">
    <div class="p-2">              <div class="okvir">       <img src="https://evrobook.rs/fajlovi/product/jezeva-kucica-jezeva-kucica_59c36d949222f.jpg" alt="Slika" class="img-responsive" style="max-height: 300px; max-width: 300px;">   </div>    </div>
    <div class="p-2">    <h3>Naziv</h3>         </div>
    <div class="p-2">Rating</div>
    <div class="p-2">Datum izdavanja: 27/08/1958.</div>
  </div>
  </div>
  <div class="p-2">
<div class="d-flex flex-column">
    <div class="p-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore rem, saepe ad corrupti pariatur harum vel, aspernatur numquam maiores vero eius veritatis! Atque, fuga enim inventore repellendus illum fugiat veniam.

    </div>

    <div class="p-2">
        <div class="d-flex flex-row">
          <div class="p-2">
            <div class="d-flex flex-column">
              <div class="p-2">
                Autori:
              </div>
              <div class="p-2">
                  Autor1
                </div>
                <div class="p-2">
                    Autor2
                  </div>
            </div>

          </div>
          <div class="p-2">
              <div class="d-flex flex-column">
                  <div class="p-2">
                    Kategorije:
                  </div>
                  <div class="p-2">
                      Katergorija1
                    </div>
                    <div class="p-2">
                        Katergorija2
                      </div>
                </div>
          </div>
        </div>
    </div>

</div>
</div>
</div>


</div>
</div>