<div class="container">
    <div class="ev">
<div class="d-flex flex-row">

<div class="p-2">
<div class="d-flex flex-column">
    <div class="p-2">              <div class="okvir">       <img src="{{knjiga.imagePath}}" alt="Slika" class="img-responsive" style="max-height: 300px; max-width: 300px;">   </div>    </div>
    <div class="p-2">    <h3>{{knjiga.naziv}}</h3>         </div>
    <div class="p-2">{{knjiga.rating}}</div>
    <div class="p-2">Datum izdavanja: 27/08/1958.</div>
  </div>
  </div>
  <div class="p-2">
<div class="d-flex flex-column">
    <div class="p-2">
        {{knjiga.opis}}
    </div>

    <div class="p-2">
        <div class="d-flex flex-row">
          <div class="p-2">
            <div class="d-flex flex-column">
              <div class="p-2">
                Autori:
              </div>
              <div class="p-2">
                  Autor1
                </div>
                <div class="p-2">
                    Autor2
                  </div>
            </div>

          </div>
          <div class="p-2">
              <div class="d-flex flex-column">
                  <div class="p-2">
                    Kategorije:
                  </div>
                  <div class="p-2">
                      Katergorija1
                    </div>
                    <div class="p-2">
                        Katergorija2
                      </div>
                </div>
          </div>
        </div>
    </div>

</div>
</div>
</div>


</div>
</div>