.container {
    width: 100%;
    height: 1500px;
    margin-top: 10px;
}

/* Tabs*/
section {
    /* padding: 60px 0; */
}

section .section-title {
    text-align: center;
    color: rgba(147, 65, 253, 0.1);
    margin-bottom: 50px;
    text-transform: uppercase;
}
#tabs{
	background: rgba(219, 147, 63, 0.541);
    color: rgb(248, 248, 248);
}
#tabs h6.section-title{
    color: rgb(248, 248, 248);
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: rgb(248, 248, 248);
    background-color: transparent;
    border-color: transparent transparent rgb(248, 248, 248);
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: rgb(248, 248, 248);
    font-size: 20px;
}
.row{
    margin-left: 0px;
}