<div class="background">
    <div class="container">
      <form (ngSubmit)="onLogin()" [formGroup]="loginFormGroup" id="forma">
        <div class="form-group">
            <div class="row">
                <div class=".col" id="envelope">
                    <i class="fa fa-envelope"></i>
                  </div>
                  <div class="col">
          <input type="email" 
          id="email" 
          name="email" 
          class="form-control" 
          formControlName="mail" 
          [(ngModel)]="mail"
          placeholder="Email">
                </div>
        </div>
        
        </div>
        <div class="form-group">
            <div class="row">
                <div class=".col-" id="lock">
                    <i class="fa fa-lock"></i>
                  </div>

                  <div class="col">
          <input
            type="password"
            id="password"
            name="password"
            [(ngModel)]="password"
            class="form-control"
            formControlName="password"
            placeholder="Password">

          </div>
        </div>


      </div>
        <div *ngIf="message!=''" class="loginMessage"><i class="fa fa-warning" style="color: red;">{{message}}</i></div>
        <br>
        <button class="btn btn-primary" type="submit" id="button">Prijava</button>
      </form>
    </div>
  </div>