<div class="prviDio">
  <div class="tekst">
  <h1>
    Dobrodošli na eBiblioteku
  </h1>
  <hr>
  
  <p>
      Ovdje možete:
      <br>
      Pretražitivati i pregledati knjige
      <br>
      Pretraživati i pregledati autore
      <br>
      Kreirati vlastite kolekcije
      <br>
      Dijeliti vašu kolekciju sa ostalim korisnicima
      
  </p>
  <br>
  <br>
  <button type="button" class="btn btn-lg btn-primary" type="submit">Registruj se</button>
  </div>
</div>
<br>
<br>
<br>
<hr>
<div class="drugiDio">
    
        <div class="d-flex flex-row justify-content-between">
            
            <div class="p-2">
              <h2>
                Istraži stranicu kao gost
              </h2>
              <div class="slika">
                  <img src="../../assets/istraziti.PNG" alt="Slika" class="img-responsive" style="max-height: 150px;">
              </div>
              <div class="opis">
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate eos dolorem eveniet dolorum nihil! Necessitatibus consequatur harum iure laborum eum doloribus nam vitae officia. Cumque sed necessitatibus magnam vero possimus.

              </div>
            </div>
            <div class="p-2">
                <h2>
                  Kako kreirati kolekciju
                </h2>
                <div class="slika">
                    <img src="../../assets/kolekcija.PNG" alt="Slika" class="img-responsive" style="max-height: 150px;">
                </div>
                <div class="opis">
                                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio iste, sint illum neque ipsam ea modi doloremque sapiente delectus non, fugit accusamus in, ipsum ipsa totam culpa hic fuga illo.

                </div>
              </div>
              <div class="p-2">
                  <h2>
                    Verzija za mobitele
                  </h2>
                  <div class="slika">
                      <img src="../../assets/mobiteli.PNG" alt="Slika" class="img-responsive" style="max-height: 150px;">
                  </div>
                  <div class="opis">
                                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quos eius id maxime quasi ratione, modi recusandae voluptas necessitatibus dolores labore voluptatem quia repellendus architecto, mollitia quae consequuntur expedita sint?

                  </div>
              </div>
            
        
    </div>
</div>
